# Packages #
############
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Catalogs #
############
/Labels
/Good_dataset
/data_preparing/Dataset_for_CNN
/data_preparing/Dataset_for_YOLO

# Files #
#########
*.txt
